/logs/
/outputs/
.idea/
crash_*.txt

/IsaacLab/*

!/IsaacLab/scripts/
/IsaacLab/scripts/*
!/IsaacLab/scripts/reinforcement_learning/
/IsaacLab/scripts/reinforcement_learning/*
!/IsaacLab/scripts/reinforcement_learning/sb3/
/IsaacLab/scripts/reinforcement_learning/sb3/*
!/IsaacLab/scripts/reinforcement_learning/sb3/train.py
!/IsaacLab/scripts/reinforcement_learning/sb3/play.py

!/IsaacLab/scripts/reinforcement_learning/skrl/
/IsaacLab/scripts/reinforcement_learning/skrl/*
!/IsaacLab/scripts/reinforcement_learning/skrl/train.py
!/IsaacLab/scripts/reinforcement_learning/skrl/play.py

/IsaacLab/.gitignore

/IsaacLab/.vscode/*

!/IsaacLab/source/
/IsaacLab/source/*

!/IsaacLab/source/isaaclab_assets/
/IsaacLab/source/isaaclab_assets/*

!/IsaacLab/source/isaaclab_assets/isaaclab_assets/
/IsaacLab/source/isaaclab_assets/isaaclab_assets/*

!/IsaacLab/source/isaaclab_assets/isaaclab_assets/robots/
/IsaacLab/source/isaaclab_assets/isaaclab_assets/robots/*

!/IsaacLab/source/isaaclab_assets/isaaclab_assets/robots/foosball.py
!/IsaacLab/source/isaaclab_assets/isaaclab_assets/robots/__init__.py

!/IsaacLab/source/isaaclab_tasks/
/IsaacLab/source/isaaclab_tasks/*

!/IsaacLab/source/isaaclab_tasks/isaaclab_tasks/
/IsaacLab/source/isaaclab_tasks/isaaclab_tasks/*

!/IsaacLab/source/isaaclab_tasks/isaaclab_tasks/direct/
/IsaacLab/source/isaaclab_tasks/isaaclab_tasks/direct/*

!/IsaacLab/source/isaaclab_tasks/isaaclab_tasks/direct/foosball2/
