/logs/
/outputs/

/IsaacLab/*

/IsaacLab/.gitignore

/IsaacLab/.vscode/*

!/IsaacLab/source/
/IsaacLab/source/*

!/IsaacLab/source/isaaclab_assets/
/IsaacLab/source/isaaclab_assets/*

!/IsaacLab/source/isaaclab_assets/isaaclab_assets/
/IsaacLab/source/isaaclab_assets/isaaclab_assets/*

!/IsaacLab/source/isaaclab_assets/isaaclab_assets/robots/
/IsaacLab/source/isaaclab_assets/isaaclab_assets/robots/*

!/IsaacLab/source/isaaclab_assets/isaaclab_assets/robots/foosball.py
!/IsaacLab/source/isaaclab_assets/isaaclab_assets/robots/__init__.py

!/IsaacLab/source/isaaclab_tasks/
/IsaacLab/source/isaaclab_tasks/*

!/IsaacLab/source/isaaclab_tasks/isaaclab_tasks/
/IsaacLab/source/isaaclab_tasks/isaaclab_tasks/*

!/IsaacLab/source/isaaclab_tasks/isaaclab_tasks/direct/
/IsaacLab/source/isaaclab_tasks/isaaclab_tasks/direct/*

!/IsaacLab/source/isaaclab_tasks/isaaclab_tasks/direct/foosball2/
